<!doctype html>
<html>
<head>
    <title>Your Reminders</title>
    <link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename='css/reminders.css') }}" />
    <meta charset="utf-8"/>
</head>
<body>
    {% if name %}
        <h1>{{ name }}'s reminders</h1>
    {% endif %}
    <div class="remindersAndForm">
    {% for n in events %}
        <h5>{{ n }}</h5>
    {% endfor %}
    <form method="post">
        <h3>Create Event:</h3>
        <p><label for="reminderName">Reminder Name: </label>
        <input type='text' id="reminderName" name="reminderName">
        <p><label for="reminderText">Text Message to Send:</label>
        <p><textarea name = "reminderText" id="reminderText" rows="10" cols="30"></textarea>
        <p><label for="reminderDay">What day do you want this reminder?: </label>
        <input type='date' id="reminderDay" name="reminderDay">
        <p><label for="reminderTime">What time do you want this reminder?:</label>
        <input type='time' id="reminderTime" name="reminderTime">
        <p><input type='submit' name = "createReminder" value="createReminder">
    </form>
    <form method="post">
        <p><input type='submit' name = "logout" value="logout">
    </form>
    </div>
    <div class="users">
        <p><h3>Other Users:</h3>
    </div>
</body>
</html>