h1{
    color: White;
    text-align: center;
    font-size: 400%;
    margin: 0px;
    margin-bottom: 0px;
    background-color: Salmon;
    
}
h5{
    color: Salmon;
}
body{
    background-color: White;
    color:Salmon;
    font-family: 'Miriam Libre', sans-serif;
}
.remindersAndForm{
    position: absolute;
    left:10px;
}
.users{
    position: absolute;
    right:10px;
}
.button{
    font-family: 'Miriam Libre', sans-serif;
    color:LightSlateGray;
}